services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: pet_shelter
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  server:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: 1
      DB_NAME: pet_shelter

  iot-client:
    build: ./lab4-iot-client
    depends_on:
      - server